h1 {
    color: #333;
    font-size: 30px;
    margin-top: 170px;
}

#box1 {
    background-color: rgb(222, 239, 90);
    width: 100%;
    height: 150px;
    color: #79e169;
    border: 5px rgb(85, 85, 220) dashed;
    padding: 20px;
    position: fixed;
    top: 0;   
    left: 0;
    font-size: 40px;
    box-sizing: border-box;
}

::selection {
    color: bisque;
}

ol {
    font-size: 20px;
    margin-left: 30px;

}